@use "sass:color";
@use "../theme.scss";

#app-launcher-search-entry {
  font-weight: bold;
  background-color: theme.$background-highlight;
  color: theme.$text-color;
  border-radius: 15px;
  padding: 10px;

  selection {
    color: theme.$background-highlight;
    background-color: theme.$accent-color;
  }
}

#app-launcher-close-button {
  background-color: theme.$background-highlight;
  border-radius: 15px;
  padding: 10px 13px;

  &:hover,
  &:focus {
    background-color: theme.$accent-error;
  }

  &:active {
    background-color: theme.$accent-error;
  }
}

#app-launcher-close-label {
  color: theme.$text-color;
}

#app-launcher-scrolled-window {
  border-radius: 16px;

  slider {
    min-height: 48px;
  }
}

#app-launcher-app-slot-button {
  border-radius: 16px;
  padding: 16px;
  transition: padding 0.25s cubic-bezier(0.5, 0.25, 0, 1);
  animation: loadSlot 0.5s ease;

  @keyframes loadSlot {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  &:hover,
  &:focus,
  &:selected,
  &.selected,
  &:active {
    background-color: theme.$accent-color;
    padding-left: 24px;

    label {
      font-weight: bold;
      color: theme.$text-on-accent;
    }
  }
}

#app-launcher-app-icon {
  margin-right: 8px;
}

#app-launcher-app-label {
  color: theme.$text-color;
  font-weight: bold;
}

#launcher-icon-badge {
  border-radius: 9999px;
}

#launcher-icon-badge.hover,
#app-launcher-app-slot-button.selected #launcher-icon-badge {
  box-shadow: 0 0 6px 2px rgba(0, 0, 0, 0.35);
}
