@use "sass:color";
@use "../theme.scss";

#theme-icons {
  opacity: 1;
  animation: fade-in 0.25s ease-in-out;
  color: theme.$text-color;
  font-weight: bold;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

#theme-icons:selected {
  background-color: theme.$accent-color;
  border-radius: 15px;
  color: theme.$text-on-accent;
  font-weight: bold;
}

#search-entry-themes {
  min-width: 560px;
  font-weight: bold;
  background-color: theme.$background-highlight;
  color: theme.$text-color;
  border-radius: 15px;
  padding: 10px;

  selection {
    color: theme.$background-base;
    background-color: theme.$accent-color;
  }
}

