@use "sass:color";
@use "../theme.scss";

#power-menu-button {
  border-radius: 10px;
  padding: 15px;

  label {
    font-size: 24px;
    color: theme.$text-color;
  }

  &:hover,
  &:focus,
  &:active {
    background-color: theme.$accent-color;

    label {
      font-weight: bold;
      color: theme.$text-on-accent;
    }
  }
}
