@use "sass:color";
@use "theme.scss";
@use "variable.scss";

#power-profiles-menu {
    background: theme.$background-base;
    border-radius: variable.$radius;
    padding: 0.45em;

    menuitem {
        padding: 0.25em 1em;
        border-radius: variable.$radius;

        image {
            color: theme.$text-color;
        }

        label {
            font-weight: bold;
        }

        &:hover {
            background-color: theme.$background-highlight;
        }

        &.selected {
            background-color: theme.$accent-color;

            image {
                color: theme.$text-on-accent;
            }

            label {
                color: theme.$text-on-accent;
            }
        }
    }
}