$background-base: #11111b;
$background-highlight: #181825;
$background-element: #1e1e2e;

$accent-color: #b4befe;
$accent-error: #f38ba8;
$accent-warning: #fab387;
$accent-success: #a6e3a1;

$text-color: #cdd6f4;
$text-secondary: #585b70;
$text-muted: #9399b2;
$text-on-accent: #11111b;

$shadow-color: rgba(0, 0, 0, 0.6);
$corners-color: #000000;