@use "sass:color";
@use "theme.scss";
@use "variable.scss";

#ocr-menu {
    background: theme.$background-base;
    border-radius: variable.$radius;
    padding: 0.45em;

    menuitem {
        padding: 0.25em 1em;
        border-radius: variable.$radius;

        &:hover {
            background-color: theme.$background-highlight;
        }

        color: theme.$text-color;
        font-weight: bold;

        &.selected {
            background-color: theme.$accent-color;

            label {
                font-weight: bold;
                color: theme.$text-on-accent;
            }
        }
    }
}
