@use "sass:color";
@use "theme.scss";

$radius: 10px;
$radius-large: 100px;

$border-width: 1px;
$border-color: theme.$background-element;
$border: $border-width solid $border-color;

$padding: 7pt;
$spacing: 12pt;

$popover-padding: $padding * 1.6;
$popover-radius: 0;

@if $radius !=0 {
  $popover-radius: $radius + $popover-padding;
}

$popover-border-color: color.adjust($border-color, $alpha: -0.95);
